.navbar {
    margin-bottom: 0;
}

#header {
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
    background: black url("#{request.contextPath}/resources/img/banner2.jpg") no-repeat left center;
    min-height: 250px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
}

.jumbotron{
    margin-bottom: 30px;
    position: relative;

    background: rgba(255, 255, 255, 0) linear-gradient(to right, rgba(251, 208, 156, .9), rgba(30, 58, 119, .9));
}

.jumbotron h1 {
    color: white;
}

form {
    text-align: center;
}

.datePickerParent {
    padding-left: 0;
    padding-right: 0;
}

.datePickerParent .date {
    margin-bottom: 15px;
}
