.row {
    margin-top: 100px;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

div.userTypes {
    margin: 30px 10px;
    padding: 30px;
    border-radius: 40px 15px;
}

div.userTypes#customer {
    background-color: rgba(19, 215, 136, .85);
}

div.userTypes#airline {
    background-color: rgba(60, 212, 246, .85);
}

div.userTypes#employee {
    background-color: rgba(235, 187, 96, .85);
}

div.userTypes p {
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 15px;
}

div.userTypes form {
    text-align: center;
}

div.userTypes form label { /* Has to be there for the validation messages... */
    display: none;
}

div.userTypes form button {
    width: 80%;
}

