.navbar-brand {
    padding: 0px;
}

.navbar {
    background-color: rgba(248, 248, 248, 0.8);
    margin-bottom: 30px;
}

img#bg {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -20;
}

div.pageContent {
    margin-top: 100px;
}

div.transparentBox {
    background-color: rgba(222, 243, 254, 0.81);
    padding: 20px 40px;
    border-radius: 20px;
    margin-bottom: 30px;
}

div.transparentBox .buttons {
    padding-bottom: 20px;
    padding-top: 20px;
}

div.transparentBox .buttons .submitButton {
    margin-bottom: 15px;
}

form button {
    width: 100%;
}