<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:f="http://xmlns.jcp.org/jsf/core"
                 xmlns:b="http://bootsfaces.net/ui"
>

    <f:view locale="#{languageSwitcher.locale}">
        <h:head>
            <meta charset="UTF-8"/>
            <title><ui:insert name="pageTitle">TogethAir</ui:insert></title>
            <h:outputStylesheet name="css/mainStyle.css" position="last"/>
            <h:outputStylesheet name="css/homeStyle.css" position="last"/>
        </h:head>
        <h:body>

            <ui:include src="menuBar.xhtml" />

            <ui:insert name="pageContent"></ui:insert>

            <h:outputScript name="js/homeScript.js" position="last"/>

        </h:body>
    </f:view>

</ui:composition>
