<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
>

    <f:view locale="#{languageSwitcher.locale}">
        <h:head>
            <meta charset="UTF-8"/>
            <title><ui:insert name="pageTitle">TogethAir</ui:insert></title>
            <h:outputStylesheet name="css/mainStyle.css" position="last"/>
            <ui:insert name="customStyle" />
            <ui:insert name="customScript" />
        </h:head>
        <h:body>

            <ui:include src="menuBar.xhtml" />

            <b:container fluid="true" class="pageContent">
                <ui:insert name="pageContent">
                    <h1>#{msgs['default.template.message']}</h1>
                </ui:insert>
            </b:container>

        </h:body>
    </f:view>

</ui:composition>
