<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
>

    <b:navBar brand-img="#{request.contextPath}/resources/img/logo.png" alt="TogethAir" brandImgStyle="height: 50px;"
              brandHref="Homepage.xhtml" fluid="true" position="top" >
        <b:form>
            <b:navbarLinks>
                <b:dropMenu value="#{msgs['language.label']}" iconAwesome="language">
                    <b:navCommandLink value="#{msgs['language.en']}" action="#{languageSwitcher.changeLanguage('en')}" />
                    <b:navCommandLink value="#{msgs['language.fr']}" action="#{languageSwitcher.changeLanguage('fr')}" />
                    <b:navCommandLink value="#{msgs['language.nl']}" action="#{languageSwitcher.changeLanguage('nl')}" />
                </b:dropMenu>
            </b:navbarLinks>
        </b:form>

        <b:form>
            <b:navbarLinks pull="right">
                <b:navCommandLink value="#{msgs['register.button']}" action="#{navigationHandler.goToRegistration}"/>
                <b:navCommandLink value="#{msgs['login.button']}" action="#{navigationHandler.goToLogin}"/>
            </b:navbarLinks>
        </b:form>
    </b:navBar>

</ui:composition>
