<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

<h:head>
    <title>AirlineInterface</title>
</h:head>
<h:body>
<h:form>
    <h:commandButton value="Add a new flight" action="FlightRegistration"></h:commandButton>
</h:form>
</h:body>
</html>