<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">


    <ui:composition template="templates/main.xhtml">
        <ui:define name="pageTitle">#{msgs['page.customerLogin.title']}</ui:define>
        <ui:define name="customStyle"><h:outputStylesheet name="css/loginStyle.css" position="last"/></ui:define>

        <ui:define name="pageContent">
            <b:image value="/resources/img/bgLogin.jpg" id="bg"/>

            <b:row>
                <b:column medium-screen="4" offset="4">
                    <div class="userTypes loginBox" id="customer">
                        <h2>#{msgs['page.customerLogin.title']}</h2>
                        <b:form horizontal="true">
                            <b:inputText placeholder="#{msgs['page.form.emailAddress']}" required="true"
                                         label="#{msgs['page.form.emailAddress']}" id="email"
                                         value="#{customerLoginBean.email}">
                                <f:facet name="append">
                                    <b:icon name="envelope"/>
                                </f:facet>
                            </b:inputText>

                            <b:inputSecret placeholder="#{msgs['page.form.password']}" required="true"
                                           label="#{msgs['page.form.password']}" id="password"
                                           type="password" value="#{customerLoginBean.password}">
                                <f:facet name="append">
                                    <b:iconAwesome name="key"/>
                                </f:facet>
                            </b:inputSecret>

                            <b:commandButton action="#{customerLoginBean.login}" value="#{msgs['confirm.button']}"
                                             look="success" />

                            <b:messages/>
                        </b:form>
                    </div>
                </b:column>
            </b:row>
        </ui:define>
    </ui:composition>
</html>
