<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">


    <ui:composition template="templates/main.xhtml">
        <ui:define name="pageTitle">#{msgs['page.customerRegistration.title']}</ui:define>

        <ui:define name="pageContent">
            <b:image value="/resources/img/bgLogin.jpg" id="bg"/>

            <f:metadata>
                <f:event type="preRenderView" listener="#{customerRegistration.create}"/>
            </f:metadata>


            <b:column mediumScreen="8" offset="2">
                <div class="transparentBox">
                    <h1>#{msgs['page.customerRegistration.title']}</h1>

                    <h5>#{msgs['page.customerRegistration.register']}</h5>

                    <b:form horizontal="true">
                        <b:row>
                            <b:column medium-screen="5">
                                <b:inputText placeholder="#{msgs['page.form.firstName']}" required="true"
                                             label="#{msgs['page.form.firstName']}" id="firstName"
                                             value="#{customerRegistration.current.firstName}" >
                                    <f:facet name="append">
                                        <b:icon name="user" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="firstName"/>
                                </b:column>

                                <b:inputText placeholder="#{msgs['page.form.lastName']}" required="true"
                                             label="#{msgs['page.form.lastName']}" id="lastName"
                                             value="#{customerRegistration.current.lastName}">
                                    <f:facet name="append">
                                        <b:icon name="user" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="lastName"/>
                                </b:column>

                                <b:inputText placeholder="#{msgs['page.form.emailAddress']}" required="true"
                                             label="#{msgs['page.form.emailAddress']}" id="email"
                                             value="#{customerRegistration.current.email}">
                                    <f:facet name="append">
                                        <b:icon name="envelope" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="email"/>
                                </b:column>

                                <b:inputSecret placeholder="#{msgs['page.form.password']}" required="true"
                                               label="#{msgs['page.form.password']}" id="password"
                                               type="password" value="#{customerRegistration.current.password}">
                                    <f:facet name="append">
                                        <b:iconAwesome name="key" />
                                    </f:facet>
                                </b:inputSecret>
                                <b:column medium-screen="12">
                                    <b:message for="password"/>
                                </b:column>

                                <b:dateTimePicker value="#{customerRegistration.current.birthDate}" format="YYYY-MM-DD"
                                                  allow-input-toggle="true" placeholder="#{msgs['page.form.birthDate']}"
                                                  required="true" label="#{msgs['page.form.birthDate']}"
                                                  id="birthDate"/>
                                <b:column medium-screen="12">
                                    <b:message for="birthDate"/>
                                </b:column>
                            </b:column>

                            <b:column medium-screen="5" offset="2">
                                <b:inputText placeholder="#{msgs['page.form.street']}" required="true"
                                             label="#{msgs['page.form.street']}" id="street"
                                             value="#{customerRegistration.current.address.street}">
                                    <f:facet name="append">
                                        <b:icon name="home" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="street"/>
                                </b:column>

                                <b:inputText placeholder="#{msgs['page.form.number']}" required="true"
                                             label="#{msgs['page.form.number']}" id="streetNumber"
                                             value="#{customerRegistration.current.address.streetNumber}">
                                    <f:facet name="append">
                                        <b:icon name="home" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="streetNumber"/>
                                </b:column>

                                <b:inputText placeholder="#{msgs['page.form.postalCode']}" required="true"
                                             label="#{msgs['page.form.postalCode']}" id="postalCode"
                                             type="number" minLength="1000" maxlength="9000" value="#{customerRegistration.current.address.postalCode}">
                                    <f:facet name="append">
                                        <b:icon name="home" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="postalCode"/>
                                </b:column>

                                <b:inputText placeholder="#{msgs['page.form.city']}" required="true"
                                             label="#{msgs['page.form.city']}" id="city"
                                             value="#{customerRegistration.current.address.city}">
                                    <f:facet name="append">
                                        <b:icon name="home" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="city"/>
                                </b:column>

                                <b:inputText placeholder="#{msgs['page.form.country']}" required="true"
                                             label="#{msgs['page.form.country']}" id="country"
                                             value="#{customerRegistration.current.address.country}">
                                    <f:facet name="append">
                                        <b:icon name="home" />
                                    </f:facet>
                                </b:inputText>
                                <b:column medium-screen="12">
                                    <b:message for="country"/>
                                </b:column>
                            </b:column>
                        </b:row>
                        <b:row class="buttons">
                            <b:column span="5" class="submitButton">
                                <b:commandButton action="#{customerRegistration.saveCustomer}"
                                                 value="#{msgs['confirm.button']}" look="primary" />
                            </b:column>
                            <b:column span="5" offset="2">
                                <b:commandButton type="reset" value="#{msgs['reset.button']}" look="danger"
                                                 immediate="true" onclick="location.href = location.pathname.split(';')[0];" />
                            </b:column>
                        </b:row>
                    </b:form>
                </div>
            </b:column>
        </ui:define>

    </ui:composition>
</html>

