<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <h:head>
        <title>EmployeeInterface</title>
    </h:head>
    <h:body>
        <table>
            <tr>
                <th>Location No</th>
                <th>Airport Code</th>
                <th>Country</th>
                <th>Global Region</th>
                <th>Name</th>
            </tr>
            <tbody>
            <ui:repeat var="l" value="#{locationBean.findAllLocations()}" >
                <h:panelGroup>
                    <tr>
                        <td>#{l.id}</td>
                        <td>#{l.airportCode}</td>
                        <td>#{l.country}</td>
                        <td>#{l.globalRegion}</td>
                        <td>#{l.name}</td>
                    </tr>
                </h:panelGroup>
            </ui:repeat>
            </tbody>
        </table>
    </h:body>
    <br /><br/><br/>
    <table>
        <tr>
            <th>Airline Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Password</th>
        </tr>
        <tbody>
        <ui:repeat var="a" value="#{airlineBean.findAllAirlines()}" >
            <h:panelGroup>
                <tr>
                    <td>#{a.id}</td>
                    <td>#{a.email}</td>
                    <td>#{a.name}</td>
                    <td>#{a.password}</td>
                </tr>
            </h:panelGroup>
        </ui:repeat>
        </tbody>
    </table>
</html>