<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">


<ui:composition template="templates/main.xhtml">
    <ui:define name="pageTitle">#{msgs['page.flightRegistration.title']}</ui:define>

    <ui:define name="pageContent">
        <f:metadata>
            <f:event type="preRenderView" listener="#{flightBean.create}"/>
        </f:metadata>

        <h1>#{msgs['page.flightRegistration.title']}</h1>

        <p>#{msgs['page.flightRegistration.register']}</p>

        <b:panel>
            <b:form horizontal="true">
                <b:row>
                    <b:column medium-screen="4" offset="1">
                        <b:inputText placeholder="#{msgs['page.flightRegistration.numberOfEconomyClassSeats']}" required="true" label="#{msgs['page.flightRegistration.numberOfEconomyClassSeats']}" id="numberOfEconomyClassSeats" value="#{flightBean.current.numberOfEconomyClassSeats}">
                            <f:facet name="append">
                                <b:icon name="user" />
                            </f:facet>
                        </b:inputText>
                        <b:column medium-screen="12">
                            <b:message for="numberOfEconomyClassSeats"/>
                        </b:column>

                        <b:inputText placeholder="#{msgs['page.flightRegistration.duration']}" required="true" label="#{msgs['page.flightRegistration.duration']}" id="duration" value="#{flightBean.current.duration}">
                            <f:facet name="append">
                                <b:icon name="user" />
                            </f:facet>
                        </b:inputText>
                        <b:column medium-screen="12">
                            <b:message for="duration"/>
                        </b:column>

                        <b:inputText placeholder="#{msgs['page.flightRegistration.baseRate']}" required="true" label="#{msgs['page.flightRegistration.baseRate']}" id="baseRate" value="#{flightBean.current.baseRate}">
                            <f:facet name="append">
                                <b:icon name="envelope" />
                            </f:facet>
                        </b:inputText>
                        <b:column medium-screen="12">
                            <b:message for="duration"/>
                        </b:column>

                        <!--<b:inputSecret placeholder="#{msgs['page.customerRegistration.password']}" required="true" label="#{msgs['page.customerRegistration.password']}" id="password" type="password" value="#{customerRegistration.current.password}">-->
                            <!--<f:facet name="append">-->
                                <!--<b:iconAwesome name="key" />-->
                            <!--</f:facet>-->
                        <!--</b:inputSecret>-->
                        <!--<b:column medium-screen="12">-->
                            <!--<b:message for="password"/>-->
                        <!--</b:column>-->

                        <!--<b:dateTimePicker value="#{customerRegistration.current.birthDate}" format="YYYY-MM-DD" label="#{msgs['page.customerRegistration.birthDate']}" id="birthDate"/>-->
                        <!--<b:column medium-screen="12">-->
                            <!--<b:message for="birthDate"/>-->
                        <!--</b:column>-->
                    <!--</b:column>-->

                    <!--<b:column medium-screen="4" offset="1">-->
                        <!--<b:inputText placeholder="#{msgs['page.customerRegistration.street']}" required="true" label="#{msgs['page.customerRegistration.street']}" id="street" value="#{customerRegistration.current.address.street}">-->
                            <!--<f:facet name="append">-->
                                <!--<b:icon name="home" />-->
                            <!--</f:facet>-->
                        <!--</b:inputText>-->
                        <!--<b:column medium-screen="12">-->
                            <!--<b:message for="street"/>-->
                        <!--</b:column>-->

                        <!--<b:inputText placeholder="#{msgs['page.customerRegistration.number']}" required="true" label="#{msgs['page.customerRegistration.number']}" id="streetNumber" value="#{customerRegistration.current.address.streetNumber}">-->
                            <!--<f:facet name="append">-->
                                <!--<b:icon name="home" />-->
                            <!--</f:facet>-->
                        <!--</b:inputText>-->
                        <!--<b:column medium-screen="12">-->
                            <!--<b:message for="streetNumber"/>-->
                        <!--</b:column>-->

                        <!--<b:inputText placeholder="#{msgs['page.customerRegistration.postalCode']}" required="true" label="#{msgs['page.customerRegistration.postalCode']}" id="postalCode" value="#{customerRegistration.current.address.postalCode}">-->
                            <!--<f:facet name="append">-->
                                <!--<b:icon name="home" />-->
                            <!--</f:facet>-->
                        <!--</b:inputText>-->
                        <!--<b:column medium-screen="12">-->
                            <!--<b:message for="postalCode"/>-->
                        <!--</b:column>-->

                        <!--<b:inputText placeholder="#{msgs['page.customerRegistration.city']}" required="true" label="#{msgs['page.customerRegistration.city']}" id="city" value="#{customerRegistration.current.address.city}">-->
                            <!--<f:facet name="append">-->
                                <!--<b:icon name="home" />-->
                            <!--</f:facet>-->
                        <!--</b:inputText>-->
                        <!--<b:column medium-screen="12">-->
                            <!--<b:message for="city"/>-->
                        <!--</b:column>-->

                        <!--<b:inputText placeholder="#{msgs['page.customerRegistration.country']}" required="true" label="#{msgs['page.customerRegistration.country']}" id="country" value="#{customerRegistration.current.address.country}">-->
                            <!--<f:facet name="append">-->
                                <!--<b:icon name="home" />-->
                            <!--</f:facet>-->
                        <!--</b:inputText>-->
                        <!--<b:column medium-screen="12">-->
                            <!--<b:message for="country"/>-->
                        <!--</b:column>-->
                    </b:column>
                </b:row>
                <b:row>
                    <b:column span="2" offset="2">
                        <b:commandButton action="#{flightBean.saveFlight}" value="#{msgs['page.confirm.button']}" look="primary" style="width:100%" />
                    </b:column><b:column span="2" offset="3">
                    <b:commandButton type="reset" value="#{msgs['page.reset.button']}" look="danger" style="width:100%" />
                </b:column>
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>

</ui:composition>
</html>