<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
>

    <ui:composition template="templates/home.xhtml">
        <ui:define name="pageTitle">#{msgs['page.home.title']}</ui:define>

        <ui:define name="pageContent">
            <div id="header"></div>

            <b:container fluid="true" class="pageContent">
                <b:column mediumScreen="6" offset="3">
                    <b:jumbotron>
                        <h1>#{msgs['page.home.quote']}</h1>
                        <b:form horizontal="true">
                            <b:formGroup>
                                <b:container fluid="true">
                                    <b:row>
                                        <b:column mediumScreen="3" class="col-md-offset-0" tinyScreen="10" offsetXs="1">
                                            <b:selectOneMenu value="#{msgs['page.home.flightTypes']}" class="flightTypes"
                                                             required="true">
                                                <f:selectItem itemLabel="#{msgs['page.home.roundTrip']}" itemValue="1"/>
                                                <f:selectItem itemLabel="#{msgs['page.home.oneWay']}" itemValue="2"/>
                                            </b:selectOneMenu>
                                        </b:column>

                                        <b:column mediumScreen="4" tinyScreen="10" offsetXs="1">
                                            <b:selectOneMenu required="true">
                                                <f:selectItem itemLabel="1" itemValue="1"/>
                                                <f:selectItem itemLabel="2" itemValue="2"/>
                                                <f:selectItem itemLabel="3" itemValue="3"/>
                                                <f:selectItem itemLabel="4" itemValue="4"/>
                                                <f:selectItem itemLabel="5" itemValue="5"/>
                                                <f:selectItem itemLabel="6" itemValue="6"/>
                                                <f:selectItem itemLabel="7" itemValue="7"/>
                                                <f:selectItem itemLabel="8" itemValue="8"/>
                                                <f:selectItem itemLabel="9" itemValue="9"/>
                                                <f:facet name="append">#{msgs['page.home.passengers']}</f:facet>
                                            </b:selectOneMenu>
                                        </b:column>

                                        <b:column mediumScreen="3" tinyScreen="10" offsetXs="1">
                                            <b:selectOneMenu value="#{semaphoreBean.color}" required="true">
                                                <f:selectItem itemLabel="#{msgs['page.home.economic']}" itemValue="1"/>
                                                <f:selectItem itemLabel="#{msgs['page.home.business']}" itemValue="2"/>
                                            </b:selectOneMenu>
                                        </b:column>
                                    </b:row>

                                    <b:row>
                                        <b:column mediumScreen="4" tinyScreen="10" offsetXs="1">
                                            <b:selectOneMenu select2="true" value="#{selectOneMenuBean.brand}"
                                                             required="true">
                                                <f:selectItem itemLabel="#{msgs['page.home.departure']}" itemValue=""/>
                                                <f:selectItem itemLabel="Brussels (BRU)" itemValue="1"/>
                                                <f:selectItem itemLabel="Heathrow" itemValue="2"/>
                                                <f:selectItem itemLabel="Charles de Gaulle" itemValue="3"/>
                                                <f:selectItem itemLabel="Amsterdam" itemValue="4"/>
                                            </b:selectOneMenu>
                                        </b:column>

                                        <b:column mediumScreen="4" offsetMd="2" tinyScreen="10" offsetXs="1">
                                            <b:selectOneMenu select2="true" value="#{selectOneMenuBean.brand}"
                                                             required="true">
                                                <f:selectItem itemLabel="#{msgs['page.home.arrival']}" itemValue=""/>
                                                <f:selectItem itemLabel="Brussels (BRU)" itemValue="1"/>
                                                <f:selectItem itemLabel="Heathrow" itemValue="2"/>
                                                <f:selectItem itemLabel="Charles de Gaulle" itemValue="3"/>
                                                <f:selectItem itemLabel="Amsterdam" itemValue="4"/>
                                            </b:selectOneMenu>
                                        </b:column>
                                    </b:row>

                                    <b:row>
                                        <b:column mediumScreen="4" tinyScreen="10" offsetXs="1" class="datePickerParent">
                                            <b:dateTimePicker value="#{msgs['page.home.departureDate']}" format="YYYY-MM-DD"
                                                              allow-input-toggle="true"
                                                              placeholder="#{msgs['page.home.departureDate']}"
                                                              required="true" id="departureDate"/>
                                            <b:column medium-screen="12">
                                                <b:message for="departureDate"/>
                                            </b:column>
                                        </b:column>

                                        <b:column mediumScreen="4" offsetMd="2" tinyScreen="10" offsetXs="1" class="datePickerParent">
                                            <b:dateTimePicker value="#{msgs['page.home.returnDate']}" format="YYYY-MM-DD"
                                                              allow-input-toggle="true"
                                                              placeholder="#{msgs['page.home.returnDate']}"
                                                              required="true" id="returnDate" class="returnDate"/>
                                            <b:column medium-screen="12">
                                                <b:message for="returnDate"/>
                                            </b:column>
                                        </b:column>
                                    </b:row>
                                </b:container>
                            </b:formGroup>

                            <b:commandButton value="#{msgs['findFlight.button']}" process="@form" update="@form"
                                             look="primary" style="width: 60%;"/>
                        </b:form>
                    </b:jumbotron>
                </b:column>
            </b:container>

        </ui:define>
    </ui:composition>

</html>