<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">


    <ui:composition template="templates/main.xhtml">
        <ui:define name="pageTitle">#{msgs['page.login.title']}</ui:define>
        <ui:define name="customStyle"><h:outputStylesheet name="css/loginStyle.css" position="last"/></ui:define>

        <ui:define name="pageContent">
            <b:image value="/resources/img/bgLogin.jpg" id="bg" />

            <b:row>
                <b:column medium-screen="4">
                    <div class="userTypes" id="customer">
                        <h2>#{msgs['page.login.customers']}</h2>
                        <p><h:outputText value="#{msgs['page.login.customersText']}" escape="false"/></p>
                        <b:form horizontal="true">
                            <b:commandButton value="#{msgs['page.login.customer']}" action="#{navigationHandler.goToCustomerLogin}" look="success" title="#{msgs['page.login.customer']}" />
                        </b:form>
                    </div>
                </b:column>
                <b:column medium-screen="4">
                    <div class="userTypes" id="airline">
                        <h2>#{msgs['page.login.airlines']}</h2>
                        <p><h:outputText value="#{msgs['page.login.airlinesText']}" escape="false"/></p>
                        <b:form horizontal="true">
                            <b:commandButton value="#{msgs['page.login.airline']}" action="#{navigationHandler.goToAirlineLogin}" look="info" title="#{msgs['page.login.airline']}" />
                        </b:form>
                    </div>
                </b:column>
                <b:column medium-screen="4">
                    <div class="userTypes" id="employee">
                        <h2>#{msgs['page.login.employees']}</h2>
                        <p><h:outputText value="#{msgs['page.login.employeesText']}" escape="false"/></p>
                        <b:form horizontal="true">
                            <b:commandButton value="#{msgs['page.login.employee']}" action="#{navigationHandler.goToEmployeeLogin}" look="warning" title="#{msgs['page.login.employee']}" />
                        </b:form>
                    </div>
                </b:column>
            </b:row>
        </ui:define>
    </ui:composition>
</html>
