<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<ui:composition template="templates/main.xhtml">
    <ui:define name="pageTitle">#{msgs['page.home.title']}</ui:define>

    <ui:define name="pageContent">
        <b:form id="dataTable">
            <h:panelGrid>
                <b:commandButton value="Add a new location"
                                 icon="pencil"
                                 look="primary"
                                 ajax="true"
                                 size="lg"
                                 update="@(#createModal)"
                                 oncomplete="$('#creation').modal('show')"/>
            </h:panelGrid>
            <br/>
            <b:dataTable value="#{locationBean.findAllLocations()}"
                         var="location"
                         fixedHeader="true"
                         scroll-size="400px"
                         scroll-x="false"
                         responsive="true"
                         excel="true"
                         csv="true"
                         pdf="true"
                         columnVisibility="true"
                         copy="true"
                         print="true">

                <b:dataTableColumn value="#{location.id}"/>
                <b:dataTableColumn value="#{location.airportCode}" order="asc"/>
                <b:dataTableColumn value="#{location.country}"/>
                <b:dataTableColumn value="#{location.globalRegion}"/>
                <b:dataTableColumn value="#{location.name}"/>

                <b:dataTableColumn label="Edit"
                                   orderable="false"
                                   style="text-align:center">
                    <b:commandButton value="Edit"
                                     icon="edit"
                                     look="primary"
                                     ajax="true"
                                     update="@(#editModal)"
                                     onclick="ajax:locationBean.setCurrentLocation(location);"
                                     oncomplete="$('#edition').modal('show')"/>
                </b:dataTableColumn>
                <b:dataTableColumn label="Delete"
                                   orderable="false"
                                   style="text-align:center">
                    <b:commandButton value="Delete"
                                     icon="delete"
                                     look="danger"
                                     ajax="true"
                                     update="@(#deleteModal)"
                                     onclick="ajax:locationBean.setCurrentLocation(location);"
                                     oncomplete="$('#suppression').modal('show')"/>
                </b:dataTableColumn>
            </b:dataTable>

        </b:form>

        <b:modal id="edition"
                 title="Edition a location"
                 styleClass="formValidationModalClass"
                 closeOnEscape="false"
                 backdrop="false"
                 closable="false">

            <b:form id="editModal">
                <b:inputText value="#{locationBean.currentLocation.airportCode}"
                             label="Airport Code"
                             required="true"
                             requiredMessage="Please enter a number"
                             large-screen="full-width">
                </b:inputText>

                <b:inputText value="#{locationBean.currentLocation.country}"
                             label="Country"
                             required="true"
                             requiredMessage="Please enter a number"
                             large-screen="full-width">
                </b:inputText>

                <b:inputText value="#{locationBean.currentLocation.globalRegion}"
                             label="Global Region"
                             required="true"
                             requiredMessage="Please enter a number"
                             large-screen="full-width">
                </b:inputText>

                <b:inputText value="#{locationBean.currentLocation.name}"
                             label="Location Name"
                             required="true"
                             requiredMessage="Please enter a number"
                             large-screen="full-width">
                </b:inputText>

                <b:row>
                    <b:column>
                        <b:button largeScreen="half"
                                  value="Cancel"
                                  dismiss="modal"
                                  onclick="return false;"/>
                        <b:commandButton
                                largeScreen="half" update="@form"
                                dismiss="modal"
                                value="Save" look="success"
                                action="#{locationBean.updateLocation(locationBean.currentLocation)}"
                                oncomplete="if(!validationFailed) { $('#edition').modal('hide');location.reload();};"/>
                    </b:column>
                </b:row>
                <b:fetchBeanInfos/>
                <b:messages/>
            </b:form>
        </b:modal>

        <b:modal id="suppression"
                 title="Are you sure to delete this location?"
                 styleClass="formValidationModalClass"
                 closeOnEscape="false"
                 backdrop="false"
                 closable="false">

            <b:form id="deleteModal">
                <b:dataTable value="#{locationBean.currentLocation}"
                             var="location"
                             fixedHeader="true"
                             scroll-size="400px"
                             scroll-x="false"
                             responsive="true"
                             paginated="false"
                             searching="false"
                             info="false">
                    <b:dataTableColumn orderable="false" value="#{location.id}"/>
                    <b:dataTableColumn orderable="false" value="#{location.airportCode}"/>
                    <b:dataTableColumn orderable="false" value="#{location.country}"/>
                    <b:dataTableColumn orderable="false" value="#{location.globalRegion}"/>
                    <b:dataTableColumn orderable="false" value="#{location.name}"/>
                </b:dataTable>
                <br/>
                <b:row>
                    <b:column>
                        <b:commandButton
                                largeScreen="half"
                                update="@form"
                                value="Cancel"
                                dismiss="modal"
                                action="#{locationBean.resetCurrentLocation()}"
                                oncomplete="$('#suppression').modal('hide')"
                        />
                        <b:commandButton
                                largeScreen="half"
                                update="@(#dataTable)"
                                dismiss="modal"
                                value="Delete"
                                look="danger"
                                action="#{locationBean.deleteLocation(locationBean.currentLocation.id)}"
                                oncomplete="if(!validationFailed) { $('#suppression').modal('hide') } "/>
                    </b:column>
                </b:row>
            </b:form>
        </b:modal>


        <b:modal id="creation"
                 title="Adding a new location"
                 styleClass="formValidationModalClass"
                 closeOnEscape="false"
                 backdrop="false"
                 closable="false">

            <b:form id="createModal">
                <b:inputText
                        value="#{locationBean.currentLocation.airportCode}"
                        label="Airport Code"
                        required="true"
                        requiredMessage="Please enter a number"
                        large-screen="full-width">
                </b:inputText>

                <b:inputText
                        value="#{locationBean.currentLocation.country}"
                        label="Country"
                        required="true"
                        requiredMessage="Please enter a number"
                        large-screen="full-width">
                </b:inputText>

                <b:inputText
                        value="#{locationBean.currentLocation.globalRegion}"
                        label="Global Region"
                        required="true"
                        requiredMessage="Please enter a number"
                        large-screen="full-width">
                </b:inputText>

                <b:inputText
                        value="#{locationBean.currentLocation.name}"
                        label="Location Name"
                        required="true"
                        requiredMessage="Please enter a number"
                        large-screen="full-width">
                </b:inputText>
                <br/>
                <b:row>
                    <b:column>
                        <b:commandButton
                                largeScreen="half"
                                dismiss="modal"
                                update="@form"
                                value="Cancel"
                                oncomplete="$('#creation').modal('hide');location.reload();">
                        </b:commandButton>
                        <b:commandButton
                                largeScreen="half"
                                dismiss="modal"
                                update="@form"
                                value="Save" look="success"
                                action="#{locationBean.addLocation(locationBean.currentLocation)}"
                                oncomplete="if(!validationFailed) { $('#creation').modal('hide');location.reload();};">
                        </b:commandButton>
                    </b:column>
                </b:row>
                <b:fetchBeanInfos/>
                <b:messages/>
            </b:form>
        </b:modal>

    </ui:define>
</ui:composition>


</html>