<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
>

<ui:composition template="templates/main.xhtml">
    <ui:define name="pageTitle">#{msgs['page.searchresults.title']}</ui:define>

    <ui:define name="pageContent">
        <h1>#{msgs['page.searchresults.title']}</h1>
        <table>
            <tr>
                <th>Flight Id</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Duration</th>
            </tr>
            <tbody>
            <ui:repeat var="f" value="#{flightBean.findAllFlights()}" >
                <h:panelGroup>
                    <tr>
                        <td>#{f.id}</td>
                        <td>#{f.departureTime}</td>
                        <td>#{f.arrivalTime}</td>
                        <td>#{f.duration}</td>
                    </tr>
                </h:panelGroup>
            </ui:repeat>
            </tbody>
        </table>

    </ui:define>
</ui:composition>


</html>